.lp-virtual-function{
  img{
    opacity: 0.5;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  position: relative;
  .lp-virtual-functions-notice{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff568;
    font-weight: bold;
    padding: 5px;
    border: dotted 1px;
    border-radius: 5px;
  }
}
.lp-premium-subtitle{
  font-size: 10px;
}
.lp-virtual-functions-li{
  padding-left: 20px;
  margin-bottom: -5px !important;
  display: none;
  a{
    width: 200px !important;
  }
}